svg\:svg {
  display: none;
}

.svg_error {
  color: red;
  font-weight: bold;
}

body, div, svg {
  padding: 0;
  margin: 0;
  font-family: Verdana,Arial,sans-serif;
  font-size: 22px;
}

.background {
  fill: none;
  pointer-events: all;
}

.lakes {
  fill: #aaa;
}

.rivers {
  fill: none;
  stroke-width: 0.2px;
  stroke: #aaa;
}

.small_lakes {
  stroke: #fff;
  stroke-width: 1.5px;
}
 
.lakes .active {
  fill: steelblue;
}

#container {
  width: 880px;
  margin: 0 auto;
}

.row {
  clear: both;
  overflow: hidden;
}
 
.left {
  text-align: center;
  width: 200px;
  float: left;
}

.center {
  text-align: center;
  padding: 0;
  margin: 0;
  width: 500px;
  float: left;
}
.right {
  text-align: center;
  width: 180px;
  float: left;
}
.nutrient {
  margin-left: 68px;
  width: 150px;
  height: 150px;
  float: left;
}

#first .left, #first .center, #first .right {
  height: 300px;
  line-height: 300px;
}
#second .left, #second .center, #second .right {
  height: 150px;
  line-height: 150px;
}
#third .left, #third .center, #third .right {
  height: 200px;
  line-height: 30px;
  padding-top: 40px;
}
#third .left, #third .right {
  padding-top: 120px;
}
#fourth .left, #fourth .center, #fourth .right {
  height: 100px;
  line-height: 100px;
  padding-top: 10px;
}
#third .center #datepicker {
  margin : 0 auto;
  line-height: 1em;
  font-size: 0.7em;
  width: 288px;
}
#third select {
  width: 120px;
}
#fourth input {
  margin : 0 auto;
  width: 200px;
  height: 50px;
}
.ui-widget-content .ui-state-active, .ui-state-active {
  background: none;
  background-color: #4682B4;
  border: 1px solid #4682B4;
  color: #fff;
}

#spinner {
  text-align: center;
  width: 880px;
  margin: 0px auto 0px auto;
  text-align: center;
  display: none;
}

.spinner {
  margin: 0 auto;
}

.status {
  font-size: 16px;
  position: relative;
}

#results {
  text-align: center;
  width: 880px;
  height: 880px;
  margin: 0px auto 0px auto;
  text-align: center;
  display: none;
}

.svg_station { stroke-width: 1px; opacity: 0.8}
.load-0-10 { stroke:rgb(247,251,255); } /* #F7FBFF */
.load-1-10 { stroke:rgb(222,235,247); } /* #DEEBF7 */
.load-2-10 { stroke:rgb(198,219,239); } /* #C6DBEF */
.load-3-10 { stroke:rgb(158,202,225); } /* #9ECAE1 */
.load-4-10 { stroke:rgb(107,174,214); } /* #6BAED6 */
.load-5-10 { stroke:rgb(66,146,198); }  /* #4292C6 */
.load-6-10 { stroke:rgb(33,113,181); }  /* #2171B5 */
.load-7-10 { stroke:rgb(8,81,156); }    /* #08519C */
.load-8-10 { stroke:rgb(8,48,107); }    /* #08306B */
.load-9-10 { stroke:rgb(8,8,107); }     /* #080864 */

.cont-0-10 { fill:rgb(247,251,255); } /* #F7FBFF */
.cont-1-10 { fill:rgb(222,235,247); } /* #DEEBF7 */
.cont-2-10 { fill:rgb(198,219,239); } /* #C6DBEF */
.cont-3-10 { fill:rgb(158,202,225); } /* #9ECAE1 */
.cont-4-10 { fill:rgb(107,174,214); } /* #6BAED6 */
.cont-5-10 { fill:rgb(66,146,198); }  /* #4292C6 */
.cont-6-10 { fill:rgb(33,113,181); }  /* #2171B5 */
.cont-7-10 { fill:rgb(8,81,156); }    /* #08519C */
.cont-8-10 { fill:rgb(8,48,107); }    /* #08306B */
.cont-9-10 { fill:rgb(8,8,107); }     /* #080864 */

.geostats-legend div {
  margin-bottom:5px;
  font-size: 16px;
}

.geostats-legend-title {
  font-weight: bold;
  margin-bottom: 4px;
}

.geostats-legend-block {
  border: 1px solid #555555;
  display: block;
  float: left;
  height: 12px;
  margin: 0 5px 0 20px;
  width: 20px;
}

.geostats-legend-counter { 
  font-size: 0.8em;
  color:#666;
  font-style: italic;
}