svg\:svg {
  display: none;
}

.svg_error {
  color: red;
  font-weight: bold;
}

body, div, svg {
  padding: 0;
  margin: 0;
  font-family: Verdana,Arial,sans-serif;
  font-size: 22px;
}

.background {
  fill: none;
  pointer-events: all;
}

.lakes {
  fill: #aaa;
}

.rivers {
  fill: none;
  stroke-width: 0.2px;
  stroke: #aaa;
}

.small_lakes {
  stroke: #fff;
  stroke-width: 1.5px;
}
 
.lakes .active {
  fill: steelblue;
}

#container {
  width: 880px;
  margin: 0 auto;
}

.row {
  clear: both;
  overflow: hidden;
}
 
.left {
  text-align: center;
  width: 200px;
  float: left;
}

.center {
  text-align: center;
  padding: 0;
  margin: 0;
  width: 500px;
  float: left;
}
.right {
  text-align: center;
  width: 180px;
  float: left;
}
.nutrient {
  margin-left: 68px;
  width: 150px;
  height: 150px;
  float: left;
}

#first .left, #first .center, #first .right {
  height: 300px;
  line-height: 300px;
}
#second .left, #second .center, #second .right {
  height: 150px;
  line-height: 150px;
}
#third .left, #third .center, #third .right {
  height: 200px;
  line-height: 30px;
  padding-top: 40px;
}
#third .left, #third .right {
  padding-top: 120px;
}
#fourth .left, #fourth .center, #fourth .right {
  height: 100px;
  line-height: 100px;
  padding-top: 10px;
}
#third .center #datepicker {
  margin : 0 auto;
  line-height: 1em;
  font-size: 0.7em;
  width: 288px;
}
#third select {
  width: 120px;
}
#fourth input {
  margin : 0 auto;
  width: 200px;
  height: 50px;
}
.ui-widget-content .ui-state-active, .ui-state-active {
  background: none;
  background-color: #4682B4;
  border: 1px solid #4682B4;
  color: #fff;
}

#spinner {
  text-align: center;
  width: 880px;
  margin: 0px auto 0px auto;
  text-align: center;
  display: none;
}

.spinner {
  margin: 0 auto;
}

.status {
  font-size: 16px;
  position: relative;
}

#results {
  text-align: center;
  width: 880px;
  height: 880px;
  margin: 0px auto 0px auto;
  text-align: center;
  display: none;
}

.svg_station { stroke-width: 1px; opacity: 0.8}
.load-0-10 { stroke:rgb(255, 255, 204); } /* #FFFFCC */
.load-1-10 { stroke:rgb(255, 237, 160); } /* #FFEDA0 */
.load-2-10 { stroke:rgb(254, 217, 118); } /* #FED976 */
.load-3-10 { stroke:rgb(254, 178,  76); } /* #FEB24C */
.load-4-10 { stroke:rgb(253, 141,  60); } /* #FD8D3C */
.load-5-10 { stroke:rgb(252,  78,  42); } /* #FC4E2A */
.load-6-10 { stroke:rgb(227,  26,  28); } /* #E31A1C */
.load-7-10 { stroke:rgb(189,   0,  38); } /* #BD0026 */
.load-8-10 { stroke:rgb(128,   0,  38); } /* #800026 */
.load-9-10 { stroke:rgb(102,  37,   6); } /* #662506 */

.cont-0-10 { fill:rgb(255, 255, 204); } /* #FFFFCC */
.cont-1-10 { fill:rgb(255, 237, 160); } /* #FFEDA0 */
.cont-2-10 { fill:rgb(254, 217, 118); } /* #FED976 */
.cont-3-10 { fill:rgb(254, 178,  76); } /* #FEB24C */
.cont-4-10 { fill:rgb(253, 141,  60); } /* #FD8D3C */
.cont-5-10 { fill:rgb(252,  78,  42); } /* #FC4E2A */
.cont-6-10 { fill:rgb(227,  26,  28); } /* #E31A1C */
.cont-7-10 { fill:rgb(189,   0,  38); } /* #BD0026 */
.cont-8-10 { fill:rgb(128,   0,  38); } /* #800026 */
.cont-9-10 { fill:rgb(102,  37,   6); } /* #662506 */

.geostats-legend div {
  margin-bottom:5px;
  font-size: 16px;
}

.geostats-legend-title {
  font-weight: bold;
  margin-bottom: 4px;
}

.geostats-legend-block {
  border: 1px solid #555555;
  display: block;
  float: left;
  height: 12px;
  margin: 0 5px 0 20px;
  width: 20px;
}

.geostats-legend-counter { 
  font-size: 0.8em;
  color:#666;
  font-style: italic;
}